.head{display:flex;width:100%;height:70px;border-bottom:2px solid #ddd;box-align:center;align-items:center;}
header{font-size:24px;color:#313131;font-family:\5fae\8f6f\96c5\9ed1;font-weight:400;padding-left:30px;}
header img{width:50px;}
header a{padding-right:25px;}