.nav{width:218px;overflow-y:auto;height:100%;border-right:1px solid #ddd}
nav ul{padding:10px 0;}
nav ul li{padding-left:35px;position:relative;font-size:16px;color:#222;line-height:2;font-family:'Microsoft Yahei'}
nav ul li.cur{background:#eaf0f2;}
nav ul li.cur a{color:#16aa6a;}
nav ul li i{width:8px;height:8px;display:block;position:absolute;left:18px;top:12px;border-radius:50%;background:#16aa6a;}
nav ul li a{display:block;color:#666;padding-left:0px;font-size:14px;}
.wrap{display:block;}
nav ul li:hover{background:#eaf0f2;}
nav ul li:hover a{color:#16aa6a;}