*{margin:0;padding:0;}
body{font-size:12px;color:#666;line-height:1.5;}
body,html{height:100%;}
ul,ol,li{list-style:none;}
img{vertical-align:top;border:none;}
a{color:#666;text-decoration:none;}
.fc_63{color:#f63;}
.fc_3390d4{color:#3390d4;};

.box{display:flex;flex-wrap:wrap;height:100%;align-content:flex-start;flex-direction:column;}
.main{display:flex;flex:1;height:100%;padding:0 15px 0 0;}
.wrap{display:none;width:100%;min-width:600px;padding:15px;overflow-y:auto;}

.page_loading{width:100%;text-align:center;}
.page_loading i{display:inline-block;width:16px;height:16px;border-top:2px solid #16aa6a;border-radius:50%;animation:spinner .6s linear infinite}
.page_loading p{font-size:12px;line-height:30px;color:#bbb;}

@keyframes spinner{
    to{transform:rotate(360deg);}
}